---
import Layout from '~/layouts/LandingLayout.astro';
import MailingList from '~/components/widgets/MailingList.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'QVector: Financial Data Embedding Services',
};

---

<Layout metadata={metadata}>
  <div class="dark:hidden">
  <Hero
    tagline="Towards a foundation model for finance"
    title="Financial embeddings based on cutting edge finance and AI research"
    subtitle="Like the English language, we know that financial data is interrelated, but we do not know how it all fits together. Our models capture some of these relationships and allow our users to pursue novel trading and investment strategies."
    actions={[
      { variant: 'primary', text: 'Get in touch', href: 'mailto:hello@qvector.ai', icon: 'tabler:square-rounded-arrow-right' },
      { text: 'Sign up for our mailing list', href: '#contact', icon: 'tabler:square-rounded-arrow-right' },
    ]}
    image={{
      src: '~/assets/images/qvector-day-small.webp', // Default to day image; this will be swapped client-side if needed
      alt: 'A picture of the Chicago river flanked by skyscrapers',
      "data-hero-image": true // Ensure this attribute is on the image element within your Hero component
    }}
  />
  </div>

  <div class="hidden dark:inline">
  <Hero
  tagline="See your data differently with QVector"
  title="Financial embeddings based on cutting edge finance and AI research"
  subtitle="Like the English language, we know that financial data is interrelated, but we do not know how it all fits together. Our models capture some of these relationships and allow our users to pursue novel trading and investment strategies."
  actions={[
    { variant: 'primary', text: 'Get in touch', href: 'mailto:hello@qvector.ai', icon: 'tabler:square-rounded-arrow-right' },
    { text: 'Sign up for our mailing list', href: '#contact', icon: 'tabler:square-rounded-arrow-right' },
  ]}
  image={{
    src: '~/assets/images/qvector-night-small.webp', // Default to day image; this will be swapped client-side if needed
    alt: 'A picture of the Chicago river flanked by skyscrapers',
    "data-hero-image": true // Ensure this attribute is on the image element within your Hero component
  }}
/>
</div>
  

  <MailingList id="contact"
    title="Join Our Mailing List"
    subtitle="Be the first to hear about new QVector models and research."
    inputs={[
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    button="Sign up"
  />

</Layout>



